<!-- <footer class="example-footer">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-8">
        <h1 class="header-title">Meeting Of Minutes AI
        </h1>
          <h1 style="padding-left: 70rem; margin-top: -55px;">
          <img  src="/assets/image//my_logo.jpg" alt="MOM AI Logo" class="header-logo">
      </h1>
      </div>
    </div>
  </div>
</header> -->
<footer class="example-footer">
  <div class="title-center">MoM AI || HerHack2023 || All rights reserved
       
  </div>
</footer>